@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}
:root {
  ---line-border-fill: #3498db;
  ---line-border-empty: #e0e0e0;
}
body {
  background-color: #f6f7fb;
  display: flex;
  font-family: "Mulish";
  height: 100vh;
  margin: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  justify-content: space-between;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(---line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50);
  transition: 0.4s ease;
}
.progress {
  background-color: var(---line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transform: translateY(-50);
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  border: 3px solid var(---line-border-empty);
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(---line-border-fill);
}
.btn {
  background-color: var(---line-border-fill);
  color: #fff;
  margin: 5px;
  padding: 8px 30px;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(---line-border-empty);
  cursor: not-allowed;
}
